<div class="post pt-1 d-flex" id="post_<%= post.id %>">
  <div class="post-id p-3">
    <span> <%= index + 1 %>. </span>
  </div>
  <div class="post-div d-flex p-1">
    <% if post.votes.count == 0 %>
      <%= link_to raw('<i class="fa-solid fa-caret-up"></i>'), post_votes_path(post, post.votes[0]), data: { 'turbo-method': :post }, class:"p-2 caret"%>
    <% elsif post.votes.count == 1 %>
      <%= link_to raw('<i class="fa-solid fa-caret-up"></i>'), post_vote_path(post, post.votes[0]), data: { 'turbo-method': :delete }, class:"p-2 caret"%>
    <% end %>
    <div class="d-flex flex-column">
      <h3> <%= link_to "#{post.title}", post_path(post), class:"post-title"%>  <a href=<%= post.url %> class="post-url">(<%= post.url %>)</a></h3>
      <span><%= post.score + post.votes.count %> by <%= post.by %></span>
    </div>
  </div>
</div>
